.FadeIn {
  animation: fade-in 0.2s linear;
}

.FadeInDown {
  animation: fade-in-down 0.2s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    transform: translate3d(0, -8px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
